package main

const (
	releaseStage = "localhost"
	port         = "8081"
	certFile = ""
	keyFile = ""

	// Redis
	redisHost = "127.0.0.1"
	redisPort = "6379"
	redisAuth = ""

	// Main API credentials
	apiClientID = ""
	//APIClientSecret
	apiClientSecret = ""
	//APIBaseURL
	apiBaseURL = ""

	// Bugsnag Service: Bug monitoring and reporting
	bugsnagAPIKey = ""

	//Twilio credentials
	twilioAPIToken = ""
)
